<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.test.amirelkayam.smallbusinessstock">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<application
    android:allowBackup="true"
    android:icon="@drawable/logo1"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".activity.activity.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name=".activity.Intro"
        android:label="Small Business Stock">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".activity.activity.Inventory" />
    <activity android:name=".activity.activity.Sale" />
    <activity android:name=".activity.activity.Customers" />
    <activity android:name=".activity.activity.Suppliers" />
    <activity android:name=".activity.Login" />
    <activity android:name=".activity.activity.NewCustomer" />
    <activity android:name=".activity.activity.CreatNewCustomer" />
    <activity android:name=".activity.activity.Registration"></activity>
</application>

</manifest>